@include new('nav') {
  padding: 19px 6px;
  font-size: 13px;
  font-family: "Noto Sans", sans-serif;
  color: $black;
  @include breakpoint(30em) {
    padding: 29px 5px;
  }
  @include breakpoint(48em) {
    padding: 30px 10px;
  }

  @include has('text') {
    display: none;
    @include breakpoint(30em) {
      display: inline-block;
      vertical-align: middle;
    }
  }

  @include has('control') {
    @extend %middle-inline-block;
  }
}