doctype html
html
	head
		meta(charset="UTF-8")
		title День в фото
		meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet")
		link(rel="stylesheet" href="./styles/styles.min.css")
		script(src="./scripts/modernizr.js" defer)
	body
		div.container
			h1.heading День в фото
			div.photos
				div.photos__first
					div.photos__item--sticker
						div.photos__date
							div.photos__day 21
							div.photos__month сентября
					img.photos__img--big(src="./assets/images/yacht.png" alt="")
					div.photos__description Мельницы маленькой деревушки Brandmill близи курортного австрийского города Mayerhoffen
					div.photos__author Фото: Reuters
				ul.photos__list
					li.photos__item
						img.photos__img(src="./assets/images/sunset.png" alt="")
					li.photos__item
						img.photos__img(src="./assets/images/tube.png" alt="")
					li.photos__item
						img.photos__img(src="./assets/images/dance.png" alt="")
					li.photos__item--adv
						img.photos__img--adv(src="./assets/images/addidas.png" alt="")
					li.photos__item
						img.photos__img(src="./assets/images/room.png" alt="")
					li.photos__item
						img.photos__img(src="./assets/images/sunset.png" alt="")
					li.photos__item
						img.photos__img(src="./assets/images/tube.png" alt="")
					li.banner
						div.banner__img-wrap
							img.img(src="./assets/images/banner_img.png")
						div.banner__description
							div.banner__hint-text Рекламный тизер
							h2.banner__heading Театральная паутина
							h3.banner__subheading Открытие новых сервисных  центров немекого автопрома
					li.photos__item
						div.photos__date
							div.photos__day 20
							div.photos__month сентября
					li.photos__item
						img.photos__img(src="./assets/images/dance.png" alt="")
					li.photos__item
						img.photos__img(src="./assets/images/room.png" alt="")
					li.photos__item
						img.photos__img(src="./assets/images/sunset.png" alt="")
					li.photos__item
						img.photos__img(src="./assets/images/dance.png" alt="")
					li.photos__item
						img.photos__img(src="./assets/images/room.png" alt="")
					li.photos__item
						img.photos__img(src="./assets/images/sunset.png" alt="")
					li.photos__item
						div.photos__date
							div.photos__day 19
							div.photos__month сентября
					li.photos__item
						img.photos__img(src="./assets/images/room.png" alt="")
					li.photos__item
						img.photos__img(src="./assets/images/room.png" alt="")
					li.photos__item
						img.photos__img(src="./assets/images/tube.png" alt="")
					li.photos__item
						img.photos__img(src="./assets/images/dance.png" alt="")
					li.photos__item
						img.photos__img(src="./assets/images/room.png" alt="")
					li.photos__item
						img.photos__img(src="./assets/images/sunset.png" alt="")
					li.photos__item
						img.photos__img(src="./assets/images/room.png" alt="")
					li.photos__item
						img.photos__img(src="./assets/images/room.png" alt="")
					li.photos__item
						img.photos__img(src="./assets/images/tube.png" alt="")
					li.photos__item
						img.photos__img(src="./assets/images/dance.png" alt="")
					li.photos__item
						img.photos__img(src="./assets/images/room.png" alt="")
					li.photos__item
						img.photos__img(src="./assets/images/sunset.png" alt="")

			nav.nav
				div.nav__text Страницы:
				ul.pager
					li.pager__item--active
						a.pager__link(href="#") 1
					li.pager__item
						a.pager__link(href="#") 2
					li.pager__item
						a.pager__link(href="#") 3
					li.pager__item
						a.pager__link(href="#") 4
				div.nav__control Следующая


		script(src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js")
		script(src="./scripts/main.js")
	


